.linkCard {
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-shadow: #66bf3c 1px 1px 2px 1px;
    /*border: black solid 0.3rem;*/
}
.linkHeader {
    border-right: black solid 0.3rem;
    border-bottom: black solid 0.3rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.title {
    font-size: large;
    font-weight: 700;
}

.linkContent {
    height: 100%;
    overflow-y: auto;
}

.linkDescription {
    padding: 0.5rem;
    margin-top:1.2rem;
    margin-bottom: 2.5rem;
}

.link {
    box-shadow: #66bf3c 1px 1px 2px 1px;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
}

.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
}
.navbar ul>li{
    margin: 1rem;
    list-style: none;
    font-weight: bold;
}
