.notes {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .notesHeader {
     text-align: center;
     color: green;
 }

 .decision {
     height: 100%;
     min-height: 40vh;
     width: 75%;
     border: 1px solid red;
     margin-top: 15%;
     border-radius: 20px;
 }

 .decisionRow {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

 .rowContent {
     height: 100%;
     min-height: 30vh;
     width: 50%;
     text-align: center;
     margin: 2rem;
     justify-content: center;
     
 }

.createNote {
    height: 100vh;
    padding: 1rem 1rem;
    border: 1px solid black;
}

.createContainer {
    border: solid red 2px;
}
.createNav {
    border: aqua 0.5rem solid;
}