.notes {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .notesHeader {
     text-align: center;
     color: green;
 }

 .notesContent {
     height: 100%;
     min-height: 40vh;
     width: 100%;
     border: 1px solid red;
     border-radius: 20px;
     display: flex;
     flex-direction: row;
 }



.createNoteContainer {
    border: solid red 2px;
    padding: 1rem;
    width: 50%;
}
.viewNoteContainer {
    border: solid green 2px;
    padding: 1rem;
    width: 50%;
}
